@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

body{
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', serif;
  font-weight: 700;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  box-sizing: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  .title{
    font-size: 72px;
  }
  .game{
    margin-left: auto;
    margin-right: auto;
    .chars_panel{
      width: 50%;
      margin: 20px;
      display: block;
      float: left;
      .chars_panel__block{
        float: left;
        width: 70px;
        height: 70px;
        margin: 5px;
        text-align: center;
        border-radius: 5px;
        border: 2px dotted #ddd;
        .chars_panel__block__char{
          line-height: 70px;
          font-size: 36px;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
    .hangman_panel{
      width: 40%;
      margin: 25px;
      //height: 500px;
      border-radius: 5px;
      border: 2px dotted #ddd;
      display: block;
      float: left;
      text-align: center;
      padding: 10px;
      #hangman_panel__status{
        font-size: 54px;
        font-weight: 700;
      }
      #hangman_panel__human{

      }
    }
    #hangman_panel__word{
      float: left;
      position: relative;
      margin: 25px;
      display: block;
      font-size: 36px;
      letter-spacing: 2px;
    }
    .btn{
      float: left;
      position: relative;
      margin: 25px;
      display: block;
      font-size: 36px;
      letter-spacing: 2px;
      &:focus{
        outline: 0;
      }
    }
  }
}
